@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body {
  padding: 0px;
  margin: 0px;
}

#background {
  position: relative;
  background-image: url("https://cdn.vox-cdn.com/thumbor/anbEWkrxQeKH50KBH7Av-vaEzLU=/0x0:3000x2000/1200x800/filters:focal(1260x760:1740x1240)/cdn.vox-cdn.com/uploads/chorus_image/image/54072719/NEX_0173.0.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

#color-overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: radial-gradient(circle, #006da1, black);
   opacity: 0.9;
}

.fa-facebook {
  background: rgba(216, 46, 46, 0.70);
}

.container{
  height:40vh;
  width:60vw;
  box-shadow:0 0 20px rgba(0,0,0,0.2);
  background: rgba(255, 255, 255, 0.80);
  animation-name: showcase;
  animation-duration: 3.0s;
  animation-timing-function: ease-in-out;
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  z-index: 1;
  margin-top: 143px;
  position: absolute;
  z-index: 5;
  padding: 50px 70px;
}

.container-left{
  margin-top: 20px;
  margin-top: 0px;
  padding: 0px 20px;
  border-right: 1px solid black;
}

.container-right{
  margin-top: 20px;
  display: block;
  margin-top: 0px;
  padding: 0px 20px;
}

.authButton {
  padding: 2px 5vw;
}
.image{
  position: absolute;
  z-index: 4;
  top: 15%;
  left: 36.5%;
}

@keyframes showcase{
  0%{
    padding: 0px;
    width:0.1vw;
    height:15vh;
    overflow:hidden;
    background:black;
  }
  40%{
    padding: 0px;
    width:0.1vw;
    height:40vh;
    overflow:hidden;
/*     background: rgba(216, 46, 46, 0.20); */
    background:black;
  }
  80%{
    padding: 50px 70px;
    height:40vh;
    width:60vw;
    overflow:hidden;
  background: rgba(255, 255, 255, 0.80);
  }
  100%{
    padding: 50px 70px;
    height:40vh;
    width:60vw;
    overflow:hidden;
  background: rgba(255, 255, 255, 0.80);
  }
}


.image{
  position: absolute;
  z-index: 4;
  top: 15%;
  left: 36.5%;
}

.opening {
  margin-top: 220px;
}

h1 {
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

.capOne {
  font-size: 6em;
  color: white;
  font-weight: 800;
  letter-spacing: 0.15em;
  margin-bottom: 0px;
}

.letters {
  margin-top: 0px;
}

span {
  font-size: 1.2em;
  opacity: 0;
  color: white;
  font-weight: 600;
}

@keyframes drop {
    0% {
        opacity: 0.2;
    }
    40% {
        opacity: 1.0;
    }
    90% {
        opacity: 0.5;
    }
    100% {
        opacity: 0.8;
    }
}

.let1 {
  animation: drop 2.0s ease-in-out infinite;
  animation-delay: 1.2s;
  color: #f55c5c;
}

.let2 {
  animation: drop 2.0s ease-in-out infinite;
  animation-delay: 1.28s;
  color: #f55c5c;

}

.let3 {
  animation: drop 2.0s ease-in-out infinite;
  animation-delay: 1.3s;
}

.let4 {
  animation: drop 2.0s ease-in-out infinite;
  animation-delay: 1.35s;

}

.let5 {
  animation: drop 2.0s ease-in-out infinite;
  animation-delay: 1.4s;
}

.let6 {
  animation: drop 2.0s ease-in-out infinite;
  animation-delay: 1.45s;
}

.let7 {
  animation: drop 2.0s ease-in-out infinite;
  animation-delay: 1.5s;
}

.let8 {
  animation: drop 2.0s ease-in-out infinite;
  animation-delay: 1.55s;
}

.let9 {
  animation: drop 2.0s ease-in-out infinite;
  animation-delay: 1.6s;
}

.let10 {
  animation: drop 2.0s ease-in-out infinite;
  animation-delay: 1.7s;
}

.let11 {
  animation: drop 2.0s ease-in-out infinite;
  animation-delay: 1.8s;
}

.let12 {
  animation: drop 2.0s ease-in-out infinite;
  animation-delay: 1.9s;
}

.auth {
  color: white;
}

.ease {
  position: absolute;
  height: 80vh;
  width: 50vw;
  border: 1px solid white;
  z-index: 4;
  top: 10%;
  left: 25%;
}

.ease2 {
  position: absolute;
  height: 70vh;
  width: 60vw;
  border: 1px solid white;
  z-index: 4;
  top: 15%;
  left: 20%;
}

button {
  background-color: transparent;
  border: 0px;
  font-family: 'Quicksand', sans-serif;
}

.button, .register {
  border: 1px solid black;
  margin: 0 auto;
  text-align: center;
}

.register {
  margin-top: 10px;
}

.button:hover{
  color: white;
}
